.list-panel {
  position: absolute;
  z-index: 1;
  padding: 24px;
  background-color: #fff;
  color: #333;
}

.list-panel ul li {
  color: #333;
  padding: 4px 8px;
  margin: 0 !important;
}

.active-item {
  background-color: rgba(0, 0, 0, 0.075);
}

.icon-tags {
  padding: 0;
}

.icon-tags span {
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 50%;
  float: left;
  padding: 2px;
  margin: 2px;
}

.icon-tags p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
  padding: 0 16px 0 4px !important;
}
